<header>
    <h1>Semantic Searcher</h1>
</header>
<main>
    <section class="content">
        <app-search-box (search)="search($event)" />
        <app-source-search-results [sources]="sources" *ngIf="ready" />
        <div class="loader-wrapper" *ngIf="loading">
            <span class="loader"></span>
        </div>
        <ng-container *ngIf="error">
            <p>Something went wrong. Please try again later.</p>
            <p>Code: {{ error.code }}</p>
            <p>Message: {{ error.message }}</p>
        </ng-container>
    </section>
</main>
