<header class="flex flex-row">
    <div class="basis-1/6 m-auto">
        <h1 class="text-2xl font-bold">Semantic <br> Searcher</h1>
    </div>
    <div class="flex-1 w-full">
        <app-search-box (search)="search($event)" />
    </div>
</header>
<hr>
<main>
    <section class="content">
        <app-source-search-results [sources]="sources" *ngIf="ready" />
        <div class="loader-wrapper" *ngIf="loading">
            <span class="loader"></span>
        </div>
        <ng-container *ngIf="error">
            <p>Something went wrong. Please try again later.</p>
            <p>Code: {{ error.code }}</p>
            <p>Message: {{ error.message }}</p>
        </ng-container>
    </section>
</main>
