# .dockerignore
**/.git
**/.vscode
**/node_modules
**/*.log
.DS_Store
**/bin
**/obj
**/out
*.user
*.sln.docstates
.idea/
*.sln.iml
.vscode/
.vscode/*
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store
.env
.env.*
.terraform/
*.tfstate
*.tfstate.*
terraform.tfvars
terraform.tfstate.backup
.terraform.lock.hcl
*.lock.json
*.lock
package-lock.json
yarn.lock