:host {
    --content-padding: 10px;
    --primary-color: #4a90e2;
    --secondary-color: #357ABD;
    --shadow-color: rgba(0, 0, 0, 0.1);
  }

input[type="text"] {
    border: solid 1px var(--primary-color);
    padding: 10px;
    border-radius: 8px;
    margin-right: 4px;
    display: inline-block;
    width: 80%;
  }
  
  button {
    padding: 10px;
    border: solid 1px var(--primary-color);
    background: var(--primary-color);
    color: white;
    border-radius: 8px;
    cursor: pointer;
  }
  
  button:hover {
    background: var(--secondary-color);
  }
  
  .error {
    color: red;
  }
  
  @media (min-width: 500px) and (max-width: 768px) {
    input[type="text"] {
        width: 70%;
    }
  }
  