/* Container Styles */
.results {
    margin: 20px 0;
}

/* No Results Message */
.no-results {
    text-align: center;
    color: #757575;
    font-size: 1.5em;
    margin-top: 50px;
}

/* Source Cards */
app-source-card {
    display: block;
    margin-bottom: 20px;
}
